<h1>Notificação de Inicialização - PID {{pid}}</h1>
<p>Prezado(a) {{ username }},</p>
<p>Sua execução foi iniciada com sucesso!</p>
<ul>
    <li>Robô: {{display_name}}</li>
    <li>Planilha: {{xlsx}}</li>
</ul>
<p>Acompanhe a execução do robô em
    <b>
        <a href="{{ url_web }}/logs_bot/{{ pid }}">Nosso Sistema</a>
    </b>
</p>
<p>Por favor,
    <b>NÃO RESPONDA A ESTE E-MAIL</b>
</p>
