<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>

    <h1>Status do Quart</h1>

    <ul id="messages">

    </ul>


    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>


      var ul = document.getElementById("messages");
      const socket = io("http://localhost:7000/quart");

      socket.on('connect', () => {
        console.log('Conectado ao servidor Socket.IO');
      });

      socket.on('quart_logs', (msg) => {
        console.log('Log recebido:', msg);

        li.style.fontWeight = "bold";
        li.style.color = "orange";

        li.innerHTML = msg.replace(/\n/g, "<br>");
        ul.appendChild(li);
        // Atualize sua dashboard conforme necessário
      });
    </script>
  </body>

</html>
