default:
  # Configurações específicas para o ambiente de produção
  EXTENSIONS:
    [
      "app.resources.extensions:start_extensions",
      "app.models:init_database",
      "app.routes:register_routes",
      "app.models:create_bots",
      "app.models:load_credentials",
    ]

  ## Configurações do Flask
  SECRET_KEY: "@format {env[CRAWJUD_SECRET_KEY]} @default 'supersecretkey'"
  PROPAGATE_EXCEPTIONS: False
  TRAP_HTTP_EXCEPTIONS: False
  TRAP_BAD_REQUEST_ERRORS: False
  SESSION_COOKIE_NAME: "session"
  SESSION_COOKIE_DOMAIN: "@format {env[CRAWJUD_APP_DOMAIN]}"
  SESSION_COOKIE_HTTPONLY: True
  SESSION_COOKIE_SAMESITE: "None"
  SESSION_COOKIE_SECURE: True
  SESSION_COOKIE_PARTITIONED: True
  PERMANENT_SESSION_LIFETIME: 604800
  SESSION_REFRESH_EACH_REQUEST: True
  USE_X_SENDFILE: False
  SEND_FILE_MAX_AGE_DEFAULT: 2592000
  SERVER_NAME: "@format {env[CRAWJUD_APP_DOMAIN]}"
  APPLICATION_ROOT: "/api/v1"
  PREFERRED_URL_SCHEME: "https"
  MAX_CONTENT_LENGTH: 5368709120
  MAX_FORM_MEMORY_SIZE: 67108864
  MAX_FORM_PARTS: 1000
  BODY_TIMEOUT: 300
  TEMPLATES_AUTO_RELOAD: True
  EXPLAIN_TEMPLATE_LOADING: True
  MAX_COOKIE_SIZE: 4093
  PROVIDE_AUTOMATIC_OPTIONS: True
  TRUSTED_HOSTS:
    - localhost
    - 127.0.0.1
    - crawjud.robotz.dev
    - app.robotz.dev
    - "195.200.1.226"
    - "zenith-vps.reminfotech.net.br"
    - "*.reminfotech.net.br"
    - "*.rhsolut.com.br"
    - "*.robotz.dev"
    - "betatest.robotz.dev"
    - "fronttest.robotz.dev"

  # ✅ Configurações SQLAlchemy
  SQLALCHEMY_DATABASE_URI: "@format {env[CRAWJUD_DATABASE_URI]}"
  SQLALCHEMY_POOL_SIZE: 30
  SQLALCHEMY_MAX_OVERFLOW: 10
  SQLALCHEMY_POOL_TIMEOUT: 30
  SQLALCHEMY_POOL_RECYCLE: 1800
  SQLALCHEMY_POOL_PRE_PING: true
  SQLALCHEMY_TRACK_MODIFICATIONS: false
  SQLALCHEMY_ENGINE_OPTIONS:
    pool_pre_ping: true
    pool_recycle: 1800
    pool_size: 30

  # ✅ Configurações Redis
  SESSION_TYPE: "sqlalchemy"
  SESSION_SQLALCHEMY: "@format {this.SQLALCHEMY_DATABASE_URI}"
  SESSION_SQLALCHEMY_TABLE: "sessions"
  SESSION_SQLALCHEMY_SEQUENCE: "session_id_seq"
  SESSION_USE_SIGNER: true
  SESSION_KEY_PREFIX: "session:"
  SESSION_ID_LENGTH: 32
  SESSION_SERIALIZATION_FORMAT: "json"

  ROOT_USERNAME: "@format {env[CRAWJUD_ROOT_USERNAME]} @default 'admin'"
  ROOT_PASSWORD: "@format {env[CRAWJUD_ROOT_PASSWORD]} @default 'admin'"
  ROOT_EMAIL: "@format {env[CRAWJUD_ROOT_EMAIL]} @default 'admin@example.com'"
  ROOT_CLIENT: "@format {env[CRAWJUD_ROOT_CLIENT]} @default 'Example'"
  ROOT_CPF_CNPJ_CLIENT: "@format {env[CRAWJUD_ROOT_CPF_CNPJ_CLIENT]} @default '00'"
  JWT_ACCESS_TOKEN_EXPIRES: 86400
  JWT_CSRF_IN_COOKIES: true
  JWT_ACCESS_COOKIE_NAME: "access_token_cookie"
  JWT_COOKIE_DOMAIN: "@format {env[CRAWJUD_APP_DOMAIN]}"
  JWT_COOKIE_SAMESITE: None
  # JWT_COOKIE_SECURE: true
  JWT_ACCESS_CSRF_COOKIE_NAME: "X-Xsrf-Token"
  JWT_ACCESS_CSRF_HEADER_NAME: "X-Xsrf-Token"
  JWT_TOKEN_LOCATION:
    - "cookies"
    - "headers"

celery:
  MAIL_SERVER: "@format {env[CRAWJUD_MAIL_SERVER]}"
  MAIL_PORT: "@format {env[CRAWJUD_MAIL_PORT]}"
  MAIL_USE_TLS: "@format {env[CRAWJUD_MAIL_USE_TLS]}"
  MAIL_USE_SSL: "@format {env[CRAWJUD_MAIL_USE_SSL]}"
  MAIL_USERNAME: "@format {env[CRAWJUD_MAIL_USERNAME]}"
  MAIL_PASSWORD: "@format {env[CRAWJUD_MAIL_PASSWORD]}"
  MAIL_DEBUG: "@format {env[CRAWJUD_MAIL_DEBUG]}"
  MAIL_DEFAULT_SENDER: "@format {env[CRAWJUD_MAIL_DEFAULT_SENDER]}"
  MAIL_MAX_EMAILS: "@format {env[CRAWJUD_MAIL_MAX_EMAILS]}"
  MAIL_SUPPRESS_SEND: "@format {env[CRAWJUD_MAIL_SUPPRESS_SEND]}"
  MAIL_ASCII_ATTACHMENTS: "@format {env[CRAWJUD_MAIL_ASCII_ATTACHMENTS]}"
  broker_url: "@format {env[CRAWJUD_BROKER_URL]}"
  result_backend: "@format {env[CRAWJUD_RESULT_BACKEND]}"
  task_serializer: "json"
  result_serializer: "json"
  accept_content:
    - "json"
  enable_utc: true
  timezone: "America/Sao_Paulo"
  worker_concurrency: 8
  worker_pool: "threads"
  task_default_queue: "celery"
  task_default_exchange: "celery"
  task_default_exchange_type: "direct"
  task_default_routing_key: "celery"
  SOCKETIO_SERVER: "@format {env[CRAWJUD_APP_DOMAIN]}"
